<template>
    <div class="col-xs-12 col-sm-5 col-md-3">
        <button class="btn btn-default btn-sm">сохранить</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted button')
        }
    }
</script>
