<template>
    <div class="form-group col-xs-12 col-md-4">
        <label>{{ testValue }}</label>
        <input type="text"  v-bind:name="testField" v-bind:value="testField" value="Александр" class="form-control">
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted text input.');
        },
        props: ['labelValue','nameFieldParent','testValue'],
        data: function () {
            return {
                nameField: this.nameFieldParent,
                testField: this.test,
            }
        }
    }
</script>
