<template>
    <div class="form-group col-xs-12">
        <textarea placeholder="О себе" class="form-control"></textarea>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted text area')
        }
    }
</script>
