* {outline:none;}
body {
	font:13px/150% "Open Sans", sans-serif;
	font-weight:300;
}
/*===links=================================================================*/
a {
	color:#0066FF;
	text-decoration:underline;
}
a:hover {text-decoration:none;}
a:hover,
a:active,
a:focus {color:#0066FF;}
a.gray {color:#838383 !important;}
a.good {color:#7ed008 !important;}
a.bad {color:#ff0d2f !important;}
.btn-link.black,
a.black {color:#000 !important;}
a.blue {color:#0066ff !important;}
.dashed {text-decoration:none !important;}
.dashed span {border-bottom:dashed #0066FF 1px;}
.gray.dashed span {border-color:#777;}
.black.dashed span {border-color:#000;}
.blue.dashed span {border-color:#0066ff !important;}
.dashed:hover span {border-color:transparent !important;}
a.small {color:#0066ff;}
/*=========================================================================*/
mark {
	display:inline-block;
	background:#f6923a;
	font-size:14px !important;
	font-weight:600 !important;
	line-height:100% !important;
	color:#fff;
}
strong.green, span.green {color:#7ed008 !important;}
strong.blue {color:#249ed9;}
strong.orange {color:#f6923a;}
strong.red {color:#e62132;}
strong.gray {color:#838383 !important;}
small.green {background:#7ed008 !important;}
.bold {font-weight:700;}
.regular {font-weight:400;}
big {font-size:117%;}
hr {
	margin:20px 0;
	border-color:#616264;
}
#section hr {
	margin:40px 0;
	border-color:#c4c4c4;
}
.leaders:before {
	content:'';
	width:153px;
	height:7px;
	display:block;
	margin:0 auto 5px auto;
	background:url(../img/leaders.png);
}
p {margin-bottom:20px;}
p:last-child {margin-bottom:0 !important;}
q {
	max-width:640px;
	display:block;
	position:relative;
	margin:0 auto;
	padding:15px 50px;
	font-size:18px;
	line-height:140%;
}
.affiliate-reviews q {max-width:920px;}
q:before,
q:after {
	position:absolute;
	font-size:45px;
	color:#c0c0c0;
}
q:before {top:0;left:0;}
q:after {right:0;bottom:0;}
/*==captions================================================================*/
h1,.h1,h2 {
	font-size:30px !important;
	font-weight:400;
}
h1,.h1 {margin:30px 0 50px 0;}
h2 {margin:0 0 40px 0;}
h3,h4 {margin:20px 0;}
h3 {
	font-size:24px;
	font-weight:300;
}
h4 {
	font-size:18px;
	font-weight:600;
}
h4.text-uppercase {margin:15px 0;}
.order h4 {font-weight:400;}
#footer h4 {
	font-weight:700;
	text-transform:uppercase;
}
h5, h6 {font-size:14px;}
.h1 .small, .h1 small,
.h2 .small, .h2 small,
.h3 .small, .h3 small,
h1 .small, h1 small,
h2 .small, h2 small,
h3 .small, h3 small {
	font-size:45%;
	font-weight:300;
}
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child {margin-top:0 !important;}
.carousel-caption .h1 {
	margin-bottom:20px;
	font-size:48px !important;
	font-weight:600;
	line-height:80%;
}
@media (max-width:1200px) {
.carousel-caption .h1 {
	margin-bottom:20px;
	font-size:40px !important;
}
}
@media (max-width:992px) {
.carousel-caption .h1 {
	margin-bottom:15px;
	font-size:35px !important;
}
}
@media (max-width:767px) {
.carousel-caption .h1 {
	margin-bottom:10px;
	font-size:25px !important;
}
}
.nom {margin-bottom:20px;}
.nomt {margin-top:0;}
/*==labels================================================================*/
.label {
	width:90px;
	display:inline-block;
	padding:0;
	font-size:10px;
	font-weight:800;
	line-height:22px;
	text-transform:uppercase;
}
.label-circle {
	width:22px;
	height:22px;
	line-height:20px;
}
.label-default {background:#bdbdbd;}
.label-default1 {background:#7c7c7c;}
.label-default2 {background:#444748;}
.label-warning {background:#f6923a;}
.label-success {background:#7ed008;}
.label-s1:not(.label-circle):before,
.label-s2:not(.label-circle):before,
.label-s3:not(.label-circle):before,
.label-bs:not(.label-circle):before {margin-right:4px;}
.label-s1:before {
	width:11px;
	height:10px;
	background-position:-120px -107px;
}
.label-s2:before {
	width:14px;
	height:14px;
	background-position:-106px -100px;
}
.label-s3:before {
	width:19px;
	height:14px;
	background-position:-147px -100px;
}
.label-bs {position:relative;}
.label-bs:before {
	width:39px;
	height:16px;
	position:absolute;
	top:-10px;
	lefT:50%;
	margin-left:-20px;
	background-position:-38px -107px;
}
.label-circle.label-bs:before {
	width:29px;
	height:15px;
	top:0;
	margin-left:-14px;
	background-position:-77px -110px;
}
label {font-weight:300;}
/*===forms=================================================================*/
.form-horizontal .form-group-sm .control-label strong {font-size:14px;}
.form-group {margin-bottom:20px;}
.filter .form-group {margin-bottom:0;margin-top:10px;}
.form-control {
	height:46px;
	padding:8px 18px;
	font-size:13px;
	font-weight:300;
	color:#000;
}
.form-control,
.captcha {
	border-color:#C4C4C4;
	-webkit-box-shadow:#ededed 0 0 4px inset;
	box-shadow:#ededed 0 0 4px inset;
}
.form-control.green {border-color:#7ed008;}
.form-group-lg .form-control {
	height:56px;
	padding:18px;
	font-size:13px;
}
.form-group textarea.form-control {
	min-height:95px;
	padding-top:15px;
	padding-bottom:15px;
}
.form-control:focus {
	border-color:#b3b3b3;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form-control::-moz-placeholder {color:#000;}
.form-control:-ms-input-placeholder {color:#000}
.form-control::-webkit-input-placeholder {color:#000}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {background-color:#eee;}
textarea {resize:none;}
.form-horizontal .control-label {text-align:left;white-space:nowrap;}
.form-horizontal .form-group .control-label {
	padding-top:0;
	line-height:46px;
}
.form-horizontal .form-group-sm .control-label {line-height:30px;}
.filter .form-horizontal .form-group-sm .control-label {font-size:13px;white-space:nowrap;}
.form-group .form-control + .form-control-feedback {
	width:auto;
	height:auto;
	line-height:none !important;
	pointer-events:auto;
}
input[type="checkbox"].disapp,
input[type="radio"].disapp {
	width:0;
	position:absolute;
	visibility:hidden;
	z-index:-10;
}
.checkbox,
.radio {
	margin:0;
	padding:15px 0;
}
.checkbox + .checkbox, .radio + .radio {margin-top:0;}
.checkbox label, .radio label {
	min-height:0;
	padding-left:0;
	font-size:14px;
	font-weight:inherit;
	line-height:18px;
}
.chkbx,
.rdobx {
	width:18px;
	height:18px;
	position:relative;
	display:inline-block;
	margin-right:15px;
	background:#fff;
	border:solid #c4c4c4 1px;
	line-height:16px;
	vertical-align:middle;
	text-align:center;
}
.rdobx {line-height:13px;}
input[type="checkbox"]:checked + .chkbx:before {
	content:"\e013";
	font-family:'Glyphicons Halflings';
	font-size:12px;
}
input[type="radio"]:checked + .rdobx:before {
	content:'';
	width:8px;
	height:8px;
	display:inline-block;
	background:#000;
	vertical-align:middle;
}
.payments {margin-bottom:25px;}
.payments h4 {
	margin-bottom:10px;
	font-weight:300;
}
.payments label {display:block;}
.payments label div {
	min-height:165px;
	margin-bottom:25px;
	padding-top:35px;
	border:solid #DBDBDB 1px;
	text-align:center;
}
.payments label:hover div {
	border-color:#fff;
	cursor:pointer;
}
.payments label p {
	font-size:12px;
	color:#8c8c8c;
}
.payments input[type="radio"]:checked + div {
	padding-top:34px;
	border:solid #7ed008 2px;
}
.payments input:checked + div,
.payments label:hover div {
  -webkit-box-shadow:0 0 15px #DBDBDB;
  -moz-box-shadow:0 0 15px #DBDBDB;
  -o-box-shadow:0 0 15px #DBDBDB;
  box-shadow:0 0 15px #DBDBDB;
}
.captcha {
	padding:11px 0;
	border-style:solid;
	border-width:1px;
}
.captcha input {
	width:100%;
	height:32px;
	border:none;
	line-height:32px;
}
/*=========================================================================*/
.limit {position:relative;}
.limit:before {
	content:'-';
	position:absolute;
	top:8px;
	right:100%;
	margin-right:-5px;
	font-size:30px;
}
.form-group-sm .limit:before {top:3px;}
.form-control-feedback {
	top:0;
	right:27px;
	line-height:44px !important;
}
.glyphicon-calendar.form-control-feedback {
	top:14px;
	right:27px;
}
.glyphicon-search.form-control-feedback {
	top:13px;
	right:30px;
}
.glyphicon-pencil,
.glyphicon-calendar,
.glyphicon-search,
.glyphicon-hand-down,
.glyphicon-hand-up {
	width:17px !important;
	height:17px !important;
	background-position:-32px -79px;
}
.glyphicon-pencil {
	width:11px !important;
	height:11px !important;
	background-position:-126px -74px;
}
.glyphicon-search {
	width:18px !important;
	height:19px !important;
	background-position:-148px -81px;
	border:none;
}
.glyphicon-hand-down,
.glyphicon-hand-up {
	width:21px !important;
	height:21px !important;
	background-position:-70px -86px;
}
.glyphicon-hand-down {background-position:-49px -86px;}
.glyphicon-time {
	width:22px !important;
	height:22px !important;
	background-position:-123px -85px;
}
.hand-down,
.hand-up {
	font-size:12px;
	color:#f6923a;
}
.hand-up {color:#7ed008;}
/*===buttons===============================================================*/
.btn {
	width:100%;
	padding:13px 18px;
	border:none !important;
	font-size:14px;
	font-weight:800;
	color:#fff !important;
	text-transform:uppercase;
	text-decoration:none;
}
.form-group-lg .btn {padding:18px;}
.btn-sm {padding:11px;font-size:13px;}
.btn-sm1 {padding:7px;font-size:11px;}
.btn-lg {padding:18px;font-size:16px;}
.btn-link.btn-sm {padding-top:12px;padding-bottom:12px;}
.notice .btn-sm {
	margin-top:5px;
	padding:7px;
	font-size:11px;
}
.btn-default {background:#f6923a;}
.btn-info {background:#38bdf5;}
.btn-success {background:#7ed008;}
.btn-primary {background:#45464b;}
.btn-danger {background:#f53845;}
.btn-default:active,
.btn-default:focus,
.thumbnail .btn-default:hover,
.notice .btn-default:hover,
.btn-default:hover {background:#e28128;}
.btn-info:active,
.btn-info:focus,
.btn-info:hover {background:#1c91cd;}
.btn-success:active,
.btn-success:focus,
.btn-success:hover {background:#75bf0a;}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {background:#000;}
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {background:#e0182b;}
.btn-link {font-size:13px;line-height:19px;}
.btn-link:hover {text-decoration:underline !important;}
.btn-reg,
.btn-default1 {border:solid #F6923A 1px !important;}
.btn-default1 {
	font-size:11px;
	color:#F6923A !important;
}
.btn-reg:active,
.btn-reg:focus,
.btn-reg:hover,
.btn-default1:active,
.btn-default1:focus,
.btn-default1:hover {background:#F6923A;}
.btn-default1:active,
.btn-default1:focus,
.btn-default1:hover {color:#fff !important;}
.btn-corn {
	position:relative;
	padding:16px;
	padding-right:30px;
	font-size:16px;
}
.btn-corn:before,
.btn-corn:after {
	content:'';
	width:0;
	height:0;
	position:absolute;
	right:0;
}
.btn-corn:before{
	top:0;
	border-bottom:solid transparent 28px;
	border-right:solid #fff 28px;
}
.btn-corn:after{
	bottom:0;
	border-top:solid transparent 28px;
	border-right:solid #fff 28px;
}
/*==labels================================================================*/
.media {margin:0 0 70px 0;}
.media-heading {
	margin-bottom:20px;
	font-weight:400;
}
.media-left {padding-right:30px;}
/*==modal==================================================================*/
.modal-sm {width:360px;}
.modal-lg {width:680px;}
.modal-content {padding-top:50px;}
.modal-content,
.modal-header,
.modal-footer {border:none;}
.modal-header {text-align:center;}
.modal-header h3 {font-weight:400;}
.modal-header,
.modal-body,
.modal-footer {padding:15px 30px;}
.modal-footer {
	padding-bottom:35px;
	text-align:center;
}
.modal-footer .btn {max-width:295px;margin:0 auto;}
.modal-footer .btn + .btn {display:block;margin-left:auto;}
.btn-link.black {font-weight:400;font-size:14px;text-decoration:underline;}
.btn-link.black:hover {text-decoration:none !important;}
.modal-vertical-centered {
  transform:translate(0, 50%) !important;
  -ms-transform:translate(0, 50%) !important;
  -webkit-transform:translate(0, 50%) !important;
}
.modal-auth .modal-header h3 {
	font-weight:800;
	text-transform:uppercase;
}
.modal-auth .checkbox,
.modal-auth .modal-content,
.modal-auth .nav li {padding:0;}
.modal-auth .modal-body {padding:30px;}
.modal-auth .modal-header,
.modal-auth .modal-footer {
	padding:18px;
	background:#444748;
	line-height:100%;
	color:#fff;
}
.modal-auth .modal-footer {padding:25px;}
.modal-auth .form-group,
.modal-auth .checkbox {margin-bottom:15px;}
.modal-auth .form-group:last-child {margin-bottom:0 !important;}
.modal-auth .modal-footer p {
	margin-bottom:10px;
	line-height:150%;
}
.modal-auth .btn-link {
	padding:0;
	font-size:14px;
	text-decoration:underline;
}
.modal-auth .btn-link:hover {text-decoration:none !important;}
.modal-auth small {color:#b4b4b4;}
.modal-auth .nav {margin:-30px -30px 30px -30px;}
.modal-auth .nav li a {
	padding:21px 0;
	font-size:18px;
	line-height:100%;
}
.modal-auth .nav li a small {
	font-size:12px;
	color:#5f5f5f;
}
.modal-auth .close {
	margin:-10px -10px 0 0;
	font-size:50px;
	color:#fff;
	text-shadow:none;
}
/*===jumbotron=============================================================*/
.jumbotron {
	margin-bottom:85px;
	padding:25px 20px 30px 20px !important;
	background:none;
	border:solid #45464B 2px;
}
#section .jumbotron {margin-bottom:0;}
.icow {
	width:38px;
	height:38px;
	display:block;
	margin:0 auto;
	background:#f6923a;
	line-height:36px;
	text-align:center;
}
.jumbotron .icow {
	margin-top:-45px;
	background:#45464b;
}
.jumbotron h1,
.jumbotron .h1 {margin:10px 0 20px;}
.jumbotron p {
	margin-bottom:25px;
	font-size:18px;
	line-height:normal;
	color:#45464b;
}
.jumbotron .btn {
	width:auto;
	min-width:310px;
}
/*===pagination============================================================*/
.pagination {margin:50px 0 10px 0;}
.pagination > li > a,
.pagination > li > span {
	padding:0 15px;
	margin-left:0;
	font-weight:600;
	line-height:65px;
	color:#45464b !important;
	border:none;
	text-decoration:underline;
}
.pagination > li.active  > a {
	background:none !important;
	font-size:275%;
	color:#f6923a !important;
	text-decoration:none !important;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
	background:none;
	text-decoration:none;
}
.pagination > li > a[aria-label="Previous"],
.pagination > li > a[aria-label="Next"] {
	width:65px;
	height:65px;
	padding:0;
	background:#f6923a;
	line-height:60px;
}
.pagination > li > a[aria-label="Previous"]:hover,
.pagination > li > a[aria-label="Next"]:hover {background:#E28128;}
.pagination > li > a[aria-label="Previous"] {margin-right:65px;}
.pagination > li > a[aria-label="Next"] {margin-left:65px;}
.pagination > li > a[aria-label="Previous"]:before,
.pagination > li > a[aria-label="Next"]:before {
	width:14px;
	height:28px;
	margin:0 0 0 -3px;
	background-position:0 -97px;
}
.pagination > li > a[aria-label="Next"]:before {
	margin:0 -3px 0 0;
	background-position:-14px -97px;
}
/*===rating================================================================*/
.rating,
.rating > * {
	background:url(../img/rating.png) top left;
  -webkit-background-size:auto 200%;
  -moz-background-size:auto 200%;
  -o-background-size:auto 200%;
  background-size:auto 200%;
}
.rating {
	width:90px;
	height:13px;
	display:block;
	position:relative;
	margin:0 auto;
}
.rating > * {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	background-position:bottom left;
}
.rating-block {
	position:relative;
	padding:24px 30px;
	font-size:14px;
}
.rating-block p {margin-bottom:5px;}
a[href="#fav"],
.rating1:before {
	width:14px;
	height:13px;
	background:url(../img/rating.png) -2px 0;
}
a[href="#fav"] {
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-6px;
}
a[href="#fav"].active {background:url(../img/sprite.png) -91px -45px;}
.rating1 {
	margin-top:5px;
	font-size:14px;
	color:#7ed008;
	text-align:center;
}
.rating1:before {
	content:'';
	display:inline-block;
	margin-right:5px;
	background-position:-2px -13px;
}
/*=========================================================================*/
#home {
	padding-bottom:30px;
	background:url(../img/home.jpg) center no-repeat;
}
#promo {
	padding-bottom:70px;
	background:url(../img/back3.jpg) center no-repeat;
}
#promo,
#home {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
	color:#fff;
}
#home .container > p,
#promo .container > p {
	font-size:18px;
	line-height:125%;
}
#home .container > p {margin-bottom:25px;}
#promo .container > p {margin-bottom:15px;}
#home .big1,
#home .container .big1,
#home .big2 {
	margin-bottom:5px;
	font-size:36px;
	font-weight:700;
	line-height:120%;
	text-align:center;
}
#home .big2 {
	margin-bottom:40px;
	font-size:24px;
}
#home .container > p a {color:#fff;}
#reminder form.row,
#home form.row {
	max-width:792px;
	font-size:16px;
}
#home form.row {margin-bottom:70px;}
#reminder form.row > [class*="col-"],
#home form.row > [class*="col-"] {padding:0 5px;}
#reminder form.row p:first-child,
#home form.row p:first-child {margin-bottom:10px;}
#home form.row p a {
	font-size:14px;
	color:#fff;
}
#home form.row .btn + .text-center {margin-top:10px;}
#home .container > .row.text-center {margin-bottom:80px;}
#home .container > .row.text-center > div {margin-bottom:30px;}
#home .container > .row.text-center h4 {
	margin:15px 0;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
#home .container > .row.text-center small {
	font-size:13px;
	color:#ffdf61;
}
#promo > .container .h1 {min-height:100px;}
#promo > .container .col-xs-4 {	margin-bottom:30px;}
#promo > .container .col-md-offset-4 {
	margin-top:20px;
	margin-bottom:100px;
}
#promo > .container .row strong {
	display:block;
	margin-bottom:10px;
	font-size:36px;
	line-height:100%;
}
.gicon,
.icon {
	width:70px;
	height:70px;
	display:inline-block;
	line-height:70px;
	text-align:center;
}
.icony {
	width:49px;
	height:48px;
	display:inline-block;
}
.iconsp > div {margin-bottom:75px;}
.iconp {
	width:95px;
	height:95px;
	display:inline-block;
	margin-bottom:15px;
	border:solid #f6923a 2px;
	line-height:88px;
	text-align:center;
}
.gicon {
	background:#7ed008;
	font-size:39px;
	font-weight:700;
	line-height:60px;
	color:#fff;
}
.icon0 {line-height:70px;}
.modal .gicon,
.blockicon .gicon {
	width:100px;
	height:100px;
	position:absolute;
	top:-50px;
	left:50%;
	margin-left:-50px;
	line-height:90px;
}
.icon {
	width:98px;
	height:98px;
	border:solid #858585 2px;
	line-height:90px;
}
.icons {text-align:center;}
.icons h5 {text-transform:uppercase;}
.icons p {
	margin-bottom:60px;
	line-height:120%;
}

.chars {
	font-size:18px;
	font-weight:400;
}
@media (min-width:992px) {
.chars .col-md-2 {
	width:14.28%;
	padding:0 5px;
}
}
.char,
.char-sm,
.char-md {
	width:77px;
	height:96px;
	display:inline-block;
	background:url(../img/paper.png);
	font-weight:700;
	line-height:105px;
	color:#f6923a;
	text-align:center;
}
.bottom-block .char {background-position:0 -288px;}
.char-sm {
	width:22px;
	height:30px;
	float:left;
	margin:0 10px 10px 0;
	background-position:-169px -52px;
	font-size:10px;
	line-height:33px;
}
.char-md {
	width:31px;
	height:42px;
	float:left;
	position:relative;
	margin:0 20px 10px 0;
	background-position:-166px -82px;
	font-size:14px;
	line-height:50px;
}
.char-md small {
	width:22px;
	height:22px;
	position:absolute;
	top:-6px;
	right:-6px;
	background:#f6923a;
	font-size:12px;
	line-height:20px !important;
	color:#fff !important;
	text-align:center;
}
.chars > div {min-height:230px;}
.chars > div:hover .char:not(.allchars) {
	background-position:0 -96px;
	color:#7ed008;
}
.bottom-block .chars > div:hover .char:not(.allchars) {background-position:0 -387px;}
.allchars {background-position:0 -192px;}
.other {padding-top:50px !important;}
.chars p {margin-bottom:5px;}
.chars a {
	color:#fff;
	text-decoration:none;
}
.bottom-block .chars a {color:#000;}
.chars a:not(.btn):hover {text-decoration:underline;}
.chars small {
	display:block;
	font-size:14px;
	color:#f6923a;
}
.bottom-block .chars small {color:#939393;}
.chars .btn {
	max-width:95px;
	display:none;
	margin-top:5px;
	padding:8px;
	font-size:11px;
}
.chars > div:hover small {display:none;}
.bottom-block .chars > div:hover small {display:block;}
.chars > div:hover .btn {display:inline-block;}
.chars .dashed {color:#f6923a;}
.chars .dashed span {border-color:#f6923a;}
.cornb {
	padding-top:25px;
	text-align:center;
}
.cornb:after {
	width:35px;
	height:18px;
	background-position:-136px -125px;
}

#nav {
	margin-bottom:30px;
	padding:24px 0;
	background:#444748;
	font-size:14px;
}
#home #nav {
	margin-bottom:50px;
	background:none;
}
#nav a {
	outline:none !important;
	text-decoration:none;
}
#nav ul.row {
	margin:0;
	padding:0;
	list-style:none;
}
#nav ul.row > li {
	padding:0;
	line-height:41px;
}
#nav ul.row > li > a {
	display:block;
	color:#fff !important;
}
#nav ul.row > li > a:not(.btn-default):not(.dashed):hover {text-decoration:underline;}
#nav .dashed span {border-color:#fff;}
#nav .btn-default {
  -webkit-box-shadow:0 5px 5px #2D2F2F;
  -moz-box-shadow:0 5px 5px #2D2F2F;
  -o-box-shadow:0 5px 5px #2D2F2F;
  box-shadow:0 5px 5px #2D2F2F;
}
#nav .dropdown {text-align:right;}
#nav .dropdown > a {display:inline-block !important;text-decoration:none !important;}
.dropdown-menu {border:none;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color:#EFEFEF;
	color:#000;
}
.bell {
	width:18px;
	height:26px;
	position:relative;
	display:inline-block;
	background-position:-105px -74px;
	vertical-align:middle;
}
#nav .bell {margin-right:40px;}
@media (min-width:992px) and (max-width:1200px) {
#nav .bell {margin-right:20px;}
}
@media (max-width:767px) {
#nav .bell {margin-right:25px;}
}
.badge {
	min-width:22px;
	display:inline-block;
	position:relative;
	padding:0;
	font-size:12px;
	font-weight:400;
	line-height:22px;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	background-color:#7ed008;
}
.bell .badge {
	position:absolute;
	top:-3px;
	right:-15px;
}
.badge small {
	position:absolute;
	left:100%;
	margin-left:5px;
	font-size:13px;
	line-height:21px;
	color:#7ed008;
}
#menu {
	font-weight:800;
	text-transform:uppercase;
}
.glyphicon {
	top:0;
	vertical-align:middle;
}
.glyphicon-menu-hamburger {
	margin-left:7px;
	font-size:15px;
}

#plan {
	position:relative;
	margin-bottom:105px;
}
#plan .corn {
	height:123px;
	position:absolute;
	top:0;
	right:0;
	left:0;
	background:url(../img/corn.png) top no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  background-size:contain;
	z-index:2;
}
.plan1,.plan2 {
	min-height:760px;
	position:relative;
	padding-top:150px;
	z-index:1;
}
.plan1 {background:url(../img/pattern1.png);}
.plan2 {background:url(../img/pattern2.png);}
.plan1:before,
.plan2:before {
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:url(../img/plan1.png) bottom right no-repeat;
	background-position:bottom right;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  background-size:contain;
	z-index:1;
}
.plan2:before {
	background-image:url(../img/plan2.png);
	background-position:bottom left;
}
.plan1 > *,
.plan2 > * {
	position:relative;
	z-index:2;
}
#plan .btn {
	width:auto;
	min-width:264px;
	position:absolute;
	right:80px;
	bottom:-30px;
}
.plan2 .btn {
	right:auto !important;
	left:80px;
	z-index:3;
}
@media (max-width:768px) {
#plan .btn {
	min-width:0;
	right:50px;
}
.plan2 .btn {
	right:auto !important;
	left:50px;
}
}
#plan ul {
	margin:0;
	font-size:18px;
	color:#fff;
	list-style:none;
	text-transform:uppercase;
}
.plan1 ul {padding:0 70px 0 0;}
.plan2 ul {padding:45px 0 0 70px;}
#plan li {
	min-height:70px;
	position:relative;
	margin-bottom:75px;
	line-height:23px;
}
.plan2 li {margin-bottom:95px !important;}
.plan2 li:before,
.plan2 li:after {
	content:'';
	width:135px;
	height:38px;
	position:absolute;
	top:-30px;
	right:100%;
	margin:0 15px 0 0;
	background:url(../img/line1.png);
}
.plan2 li:after {
	width:130px;
	height:52px;
	top:auto;
	bottom:-30px;
	background:url(../img/line2.png);
}
.icopl {
	width:70px;
	height:70px;
	background:#fff;
	line-height:66px;
	text-align:center;
}
.plan1 .icopl {
	float:right;
	margin-left:20px;
}
.plan2 .icopl {
	float:left;
	margin-right:20px;
}

#achievements h3 {margin-bottom:80px;}
#achievements [class*="col-"] {margin-bottom:75px;}
#achievements big {font-size:48px;}
#achievements hr {
	width:25px;
	margin-left:auto;
	margin-right:auto;
}
#achievements small {color:#666;}

#authors {
	position:relative;
	margin-bottom:40px;
	padding-top:55px;
	padding-bottom:55px;
	background:#efefef;
}
/*===panel================================================================*/
.panel-default {
	padding:15px;
	border:none;
}
.panel-heading,
.panel-body,
.panel-footer {
	padding:0;
	background:none !important;
}
.panel-body,
.panel-footer {border:none;}
.panel-heading {
	margin-bottom:5px;
	padding-bottom:10px;
	border-color:#e0e0e0;
	line-height:23px;
}
.panel-heading .pull-left {margin-right:15px;}
.panel-footer {padding-top:10px;}
/*=========================================================================*/
.downloads,
.comments {
	margin-left:10px;
	font-size:18px;
}
.downloads1,
.comments1,
.like {
	margin-right:15px;
	font-size:14px;
}
#latest .downloads,
#latest .comments {
	font-size:14px;
}
.comments {float:right;}
#latest .downloads {float:right;}

#latest {position:relative;}
#latest [class*="col-"] {margin:40px 0 50px 0;}
#latest .panel-heading p {
	margin:0;
	font-size:14px;
}
#latest .panel-heading .rating,
#latest .panel-footer .rating{
	display:inline-block;
	margin:0;
}
#latest .panel-heading .rating {
	width:60px;
	height:9px;
}
#latest .panel-footer .rating {
	margin-left:15px;
	vertical-align:middle;
}
#latest .panel-body small {
	display:block;
	margin-bottom:10px;
	font-size:10px;
	color:#c0c0c0;
}
#latest .panel-body p {margin-bottom:5px;}
#latest .panel-body p a {
	font-size:14px;
	color:#000;
	text-decoration:none;
}
#latest .panel-body p a:hover {text-decoration:underline;}
.hiddentext {
	display:block;
	position:relative;
	font-size:12px;
	line-height:125%;
	color:#8e8e8e;
}

#reminder {
	margin-bottom:85px;
	padding:100px 0 90px 0;
	background:url(../img/back1.jpg) center no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
	color:#fff;
}
#reminder p.text-center {
	margin-bottom:50px;
	font-size:18px;
	line-height:150%;
}
#reminder p.h1,
#reminder h1 {
	margin:15px 0 10px 0 !important;
	font-size:48px !important;
	font-weight:600;
	line-height:100%;
}

.thumbnail,
.block,
.result li:hover > div,
.search1 .new,
.affiliate1 .btn,
.bottom-block {
  -webkit-box-shadow:0 0 13px #ddd;
  -moz-box-shadow:0 0 13px #ddd;
  -o-box-shadow:0 0 13px #ddd;
  box-shadow:0 0 13px #ddd;
}
#reviews,
#latest .thumbnail,
.panel {
  -webkit-box-shadow:0 0 13px #ececec;
  -moz-box-shadow:0 0 13px #ececec;
  -o-box-shadow:0 0 13px #ececec;
  box-shadow:0 0 13px #ececec;
}

#reviews {
	position:relative;
	margin:90px 0;
	padding-bottom:30px;
}
#reviews .img-circle {
	position:relative;
	margin:-70px 0 20px 0;
	z-index:2;
}
#reviews .opacity45 {
	width:auto;
	height:100px;
	margin-left:-40px;
	margin-right:-40px;
	z-index:1;
}
#reviews q {margin-bottom:15px;}
#reviews .review p {
	font-size:14px;
	color:#8a8a8a;
}
#reviews h4 {
	margin-bottom:5px;
	font-weight:300;
}

.readmore:not(.text-center) {
	font-size:16px;
	margin-bottom:50px;
}
.readmore1 {
	font-size:14px;
	font-weight:400;
	margin-top:20px;
	text-transform:uppercase;
}
.readmore1 a {color:#000;}
/*===nav===================================================================*/
.nav {margin-bottom:40px;}
.nav-tabs {
	padding:0;
	border:none;
}
.nav:not(.nav-tabs) li {border-bottom:solid #E0E0E0 1px;}
@media (min-width:767px) {
.nav-tabs li:not(:first-child) {padding-left:0;}
.nav-tabs li:not(:last-child) {padding-right:0;}
}
@media (max-width:1200px) {
.nav-sm li {padding:0 15px !important;}
}
.nav li:last-child {border:none;}
.nav a {
	font-size:14px;
	line-height:170%;
	color:#000;
	text-decoration:none;
}
.nav-sm a {font-size:13px;}
.nav-tabs > li > a {
	margin-right:0;
	padding:15px 0;
	background-color:#efefef;
	border:none !important;
	font-weight:400;
	white-space:nowrap;
}
.nav:not(.nav-tabs) .active a {color:#f6923a;}
.nav:not(.nav-tabs) a:focus,
.nav:not(.nav-tabs) a:hover {background:none !important;}
.nav:not(.nav-tabs) a:hover {text-decoration:underline !important;}
.nav-tabs li a:focus, .nav-tabs li a:hover {background-color:#ddd;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color:#000;
    cursor:default;
    background-color:#fff;
}
/*===thumbnail=============================================================*/
.advice {text-align:center;}
.thumbnail {
	margin:63px 0;
	padding:15px;
	border:none;
}
.advice .thumbnail {min-height:460px;}
#authors .thumbnail {min-height:307px;}
.thumbnail .img-circle {
	position:relative;
	margin-top:-80px;
	margin-bottom:20px;
}
#authors .thumbnail .img-circle {
	margin-top:-65px;
	margin-bottom:15px;
}
.thumbnail .caption {padding:0;}
.thumbnail .h2 {
	margin:10px 0 5px 0;
	font-weight:300;
}
.thumbnail h4 {
	margin:10px 0 0 0;
	font-weight:300;
	text-transform:none;
}
.thumbnail small {
	min-height:50px;
	display:block;
	font-size:14px;
	color:#777;
}
#authors .thumbnail small {
	min-height:40px;
	font-size:11px;
}
/*=========================================================================*/
.list {
	padding:0;
	font-size:14px;
	list-style:none;
}
.smalllist {
	padding:0 25px;
	font-size:9px;
	text-align:left;
}
.list li,
.smalllist li {margin-bottom:15px;}
.list a {color:#000;}
.smalllist a {
	font-size:13px;
	color:#000;
	text-decoration:none;
}
.smalllist a:hover {text-decoration:underline;}
.thumbnail .btn-default,
.notice .btn-default {
	background:none;
	border:solid #f6923a 1px !important;
	color:#f6923a !important;
}
.thumbnail .btn-default:hover,
.notice .btn-default:hover {color:#fff !important;}
.thumbnail p.text-left,
.percent {
	height:43px;
	margin:0;
}
.percent {
	font-size:18px;
	line-height:16px;
}
.percent small {
	margin:0;
	font-size:12px;
	line-height:normal;
}

#dado, #footer {
	padding:40px 0;
	color:#fff;
}
#dado {background:#f89e3f;}
#footer {background:#45464b;}
#footer .container {position:relative;}
#footer hr {
	margin:40px 0;
	border-color:#f89e3f;
}
#footer ul {
	margin:0;
	padding:5px 0 0 0;
	list-style:none;
	font-size:14px;
}
@media (max-width:992px) {
#footer ul {padding-bottom:30px;}
}
#footer li:first-child {margin-top:0;}
#footer li {margin-top:10px;}
#footer li a {
	color:#d9d9d9;
	text-decoration:none;
}
#footer li a:hover {text-decoration:underline;}
.phone {
	padding-top:12px;
	padding-bottom:13px;
	font-size:36px;
	line-height:36px;
}
.phone strong {font-weight:600;}
.phone small {
	display:block;
	font-size:12px;
	line-height:18px;
}
.icop {
	width:45px;
	height:45px;
	float:left;
	margin:5px 20px 5px 0;
	background:#000;
	line-height:38px;
	text-align:center;
}
.googleapp {
	min-width:360px;
	display:inline-block;
	padding:13px 20px;
	border:solid #fff 2px;
	font-size:18px;
	line-height:25px;
	color:#fff !important;
	text-align:left;
	text-decoration:none !important;
}
.social h4 {
	display:inline-block;
	margin:0;
	line-height:38px;
	vertical-align:middle;
}
.payment img {margin:0 15px 15px 0;}
.copy {
	position:absolute;
	bottom:0;
	left:15px;
	color:#8b8b8b;
}
#nav .dashed:before {
	width:15px;
	height:15px;
	margin-right:6px;
	background-position:0 -20px;
}
.pro {
	background:#f6923a;
	font-size:19px;
	line-height:70px;
}
.pro1 {
	padding-top:12px;
	font-size:30px;
	line-height:30px;
}
.pro1 small {
	display:block;
	font-size:12px;
	font-weight:300;
	line-height:12px;
}
.icon1:before {
	width:44px;
	height:43px;
	background-position:-15px 0;
}
.icon2:before {
	width:36px;
	height:42px;
	background-position:-59px 0;
}
.icon3:before {
	width:42px;
	height:29px;
	background-position:-95px 0;
}
.icon4:before,
.icon5:before,
.icon6:before {
	width:22px;
	height:32px;
	background-position:-216px 0;
}
.icon5:before {background-position:-216px -32px;}
.icon6:before {
	width:24px;
	background-position:-201px -125px;
}
.icon7 {background-position:0 -125px;}
.icon8 {
	width:40px;
	background-position:-49px -125px;
}
.icon9 {
	width:47px;
	height:33px;
	background-position:-89px -125px;
}
.icon10:before {
	width:32px;
	height:26px;
	background-position:-136px -143px;
}
.icon11:before {
	width:30px;
	height:32px;
	background-position:-171px -125px;
}
.icon12:before {
	width:32px;
	height:32px;
	background-position:-168px -157px;
}
.icon13:before {
	width:24px;
	height:32px;
	background-position:-238px 0;
}
.icon14:before {
	width:22px;
	height:32px;
	background-position:-238px -32px;
}
.icon15:before {
	width:32px;
	height:31px;
	background-position:-225px -128px;
}
.icon16:before {
	width:42px;
	height:29px;
	background-position:-221px -99px;
}
.icon17:before {
	width:34px;
	height:34px;
	background-position:-100px -158px;
}
.icon18:before {
	width:28px;
	height:33px;
	background-position:-200px -159px;
}
.icon19:before {
	width:34px;
	height:23px;
	background-position:-134px -169px;
}
.icow:before {
	width:18px;
	height:12px;
	background-position:-95px -29px;
}
.icop:before {
	width:15px;
	height:22px;
	background-position:0 -35px;
}
.social .social-facebook,
.social .social-twitter,
.social .social-google,
.social .social-vk{margin-left:40px;}
.social .social-facebook {
	width:12px;
	height:25px;
	background-position:0 -57px;
}
.social .social-twitter {
	width:16px;
	height:20px;
	background-position:-15px -43px;
}
.social .social-google {
	width:24px;
	height:20px;
	background-position:-31px -43px;
}
.social .social-vk {
	width:27px;
	height:16px;
	background-position:-12px -63px;
}
.downloads:after,
.comments:after,
.downloads1:before,
.comments1:before,
.like:before {
	width:13px;
	height:16px;
	background-position:-59px -42px;
}
.downloads:after,
.comments:after {margin-left:10px;}
.downloads1:before,
.comments1:before,
.like:before {margin-right:5px;}
#latest .downloads:after,
#latest .comments:after {
	width:10px;
	height:12px;
	margin-left:5px;
	background-position:-113px -29px;
}
.comments:after,
.comments1:before {
	width:18px;
	background-position:-72px -42px;
}
.like:before {
	width:17px;
	height:17px;
	background-position:-131px -108px;
}
#latest .comments:after {
	width:14px;
	background-position:-123px -29px;
}
.icopl1:before,
.icopl2:before {
	width:32px;
	height:26px;
	background-position:-137px 0;
}
.icopl2:before {background-position:-137px -26px;}
.icopl3:before {
	width:28px;
	height:28px;
	background-position:-77px -58px;
}
.icopl4:before {
	width:32px;
	height:29px;
	background-position:-137px -52px;
}
.icopl5:before {
	width:32px;
	height:32px;
	background-position:-105px -42px;
}
a[href="#prev"]:before,
a[href="#next"]:before {
	width:14px;
	height:28px;
	background-position:-49px -58px;
}
a[href="#next"]:before {background-position:-63px -58px;}

a[href="#prev"],
a[href="#next"] {
	width:65px;
	height:65px;
	position:absolute;
	top:50%;
	left:5px;
	margin:-30px 0 0 0;
	padding-right:5px;
	background:#f6923a;
	line-height:63px;
	text-align:center;
}
a[href="#next"] {
	left:auto;
	right:5px;
	padding-right:0;
	padding-left:5px;
}
#section {margin-bottom:100px;}
#section h5 {font-weight:700;}
.profile {
	margin-bottom:35px;
	padding:0 45px;
	text-align:center;
}
.profile p {margin-bottom:15px;}
.profile .gray {font-size:12px;}
a.gray .glyphicon {
	margin-left:10px;
	font-size:11px;
}
a.gray.glyphicon {
	font-size:11px;
	text-decoration:none;
}
.notice a.gray.glyphicon {line-height:42px;}
.inline,
.inline1 {
	float:right;
	line-height:22px;
}
.inline:first-child {line-height:62px;}
.actions1 {
	font-size:12px;
	line-height:56px;
	color:#777;
}
.actions1 > .row {margin:0 -20px;}
.actions a {
	display:inline-block;
	margin-left:28px;
	font-size:12px;
}
.actions1 a {
	color:#777;
	text-decoration:none;
}
.actions1 a:hover {text-decoration:underline;}
.actions .glyphicon {margin-left:8px;}

.avatar {color:#777 !important;}
.avatar span {border-color:#777;}
.avatar:before {
	content:'';
	width:24px;
	height:24px;
	display:inline-block;
	margin-right:10px;
	background:#b2b2b2;
	vertical-align:middle;
}

.carousel {margin-bottom:20px;}
.carousel-indicators {
	width:auto;
	bottom:20px;
	left:20px;
	margin:0;
}
.carousel-indicators li {margin:0 12px 0 0;}
.carousel-indicators .active {
	width:6px;
	height:6px;
	margin:2px 14px 2px 2px;
	background:#7ed008;
	border:none;
}
.carousel-caption {
	right:0;
	left:0;
	bottom:70px;
	padding:0;
	color:#444748;
	text-align:left;
	text-shadow:none;
}
@media (max-width:1200px) {
.carousel-caption {
	bottom:50px;
}
}
@media (max-width:992px) {
.carousel-caption {
	bottom:25px;
}
}
@media (max-width:767px) {
.carousel-caption {
	bottom:10px;
}
}
.block {
	margin-bottom:20px;
	padding:15px;
	background:#fff;
}
.blockicon {
	position:relative;
	margin-top:80px;
	padding:35px;
	padding-top:50px;
}
.padding15 {padding:15px;}
.padding30 {padding:30px;}
.padding35 {padding:35px;}
.padding035 {padding:0 35px;}
.block1 {
	margin:0 0 20px 0;
	padding:0;
	background:#f0f0f0;
}
.block1 > div {
	padding:0;
	margin:0;
}
.block1 .filter {margin:0;}
.block1 > .col-md-3 {padding:35px 25px;}
.help-block,
.nav.block {
	margin-bottom:40px;
	padding:20px;
}
.help-block {
	display:block;
	margin-top:0;
	font-size:14px;
	color:#000;
}
.help-block p {
	height:46px;
	display:table-cell;
	vertical-align:middle;
}

.recommend {padding-left:25px;}
.recommend ul,
.best ul,
.search ul,
.search1 ul,
.diploms,
.last,
.notice,
.result {
	padding:0;
	list-style:none;
}
.recommend small,
.best small,
.search small,
.search1 small,
.diploms small,
.last .col-xs-8 small,
.result small {
	display:block;
	font-size:11px;
	line-height:120%;
	color:#777;
}
.best small {min-height:35px;}
.result small,
.recommend small {margin-bottom:10px;}
.recommend > p,
.best > p {color:#45464b;}
.recommend li,
.best li,
.diploms li,
.last li {
	margin-bottom:20px;
	padding-bottom:15px;
}
.result li {
	margin-bottom:8px;
	padding-bottom:8px;
	font-size:14px;
}
.recommend li,
.best li,
.diploms li,
.last li,
.result li,
.search1 li {border-bottom:solid #E0E0E0 1px;}
.result li > div {padding:20px 30px;}
.search li {margin-bottom:25px;}
.search1 li {
	position:relative;
	padding:40px 20px 30px 30px;
}
.search1 li .label {
	position:absolute;
	top:0;
	left:30px;
}
.search1 .new {border:solid #f6923a 1px;}
.recommend li:last-child,
.best li:last-child {
	margin:0;
	padding:0;
	border:none;
}
.best .col-xs-7 {padding:5px 0 0 0;}
.recommend li p {
	clear:both;
	line-height:120%;
}
.best h4 {
	margin:0 0 5px 0;
	font-size:16px;
	font-weight:300;
}
.best a {font-size:12px;color:#f6923a;}
.last .title {
	padding-top:10px;
	padding-bottom:20px;
}
.recommend li p a,
.search li p a,
.search1 li p a,
.diploms li p a,
.last .title a,
.result .title a {
	color:#000;
	text-decoration:none;
}
.recommend li p a,
.search li p a,
.search1 li p a {font-weight:700;}
.search1,
.recommend li p a {font-size:14px;}
.search li p a,
.search1 li p a {font-size:16px;}
.diploms li p a {font-size:12px;}
.last .title a,
.result .title a {
	font-size:14px;
	font-weight:400;
}
.search li p,
.search1 li p {
	margin-bottom:10px;
	padding:5px 0;
}
.recommend li p a:hover,
.search li p a:hover,
.search1 li p a:hover,
.diploms li p a:hover,
.last .title a:hover {text-decoration:underline;}
.recommend li .col-xs-6 {
	font-size:12px;
	line-height:140%;
	color:#777;
}
.recommend li .col-xs-6 span {color:#000;}
.search li > .pull-right {
	font-size:11px;
	text-align:right;
}
.search li > .pull-right strong {
	display:block;
	font-weight:800;
	color:#f6923a;
	text-transform:uppercase;
}
.search footer {
	padding-top:10px;
	border-top:solid #EDEDED 1px;
	line-height:44px;
	color:#838383;
}
.search .rtng {line-height:22px;}
.search .rtng img {margin-right:10px;}
.search .rating {margin:0 0 0 54px;}
.search footer .pull-right {
	font-size:12px;
	color:#000;
}
.search footer .pull-right img {margin-left:10px;}
.search footer .gray {
	width:190px;
	display:inline-block;
}
.last .text-right {
	font-size:11px;
	line-height:120%;
	color:#777;
}
.last .text-right strong {	text-transform:uppercase;}
.last .ratings p {margin-bottom:10px;}
.last .ratings .hiddentext {margin-bottom:20px;}
.last .rating {
	display:inline-block;
	margin:0;
	vertical-align:middle;
}
.back {
	padding:10px 0;
	color:#0066ff;
}

#file,
#file1 {
	padding:13px;
	background:#f0f0f0;
	font-size:14px;
	color:#000;
}
#file {margin-bottom:20px;}
#file1 {
	padding:10px 15px 11px 15px;
	display:block;
	line-height:36px;
}
#file:before,
#file1:after {
	content:'+';
	width:36px;
	height:36px;
	display:inline-block;
	border:solid #f6923a 1px;
	color:#f6923a;
	vertical-align:middle;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	text-align:center;
}
#file1:after {float:right;}
#file:before {margin-right:15px;}
#file a {color:#000;}
#file .dashed span {border-color:#000;}

.checkout p {
	margin-bottom:12px;
	font-size:14px;
}
.period {
	height:4px;
	position:relative;
	margin:30px 0 40px 0;
	background:#e0e0e0;
}
.period span {
	width:25px;
	height:25px;
	float:left;
	position:relative;
	margin:-10px -25px 0 25%;
	background:#e0e0e0;
	line-height:25px;
	text-align:center;
	z-index:1;
}
.period .current {
	width:33px;
	height:33px;
	line-height:33px;
	margin:-16px -33px 0 25%;
}
.period div {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:0;
}
.period .active,
.period .current {color:#fff;}
.period .active,
.period .current,
.period div {background:#7ed008;}
.period span:first-child {margin-left:0;}
.checkout .checkbox {padding-top:0 !important;}

.alert-dismissible {
	margin-top:15px;
	font-size:12px !important;
	color:#8d8d8d;
}

.total {
	position:relative;
	padding:15px 20px;
	background:#7ed008;
	color:#fff;
}
.total:after {
	position:absolute;
	top:20%;
	right:100%;
	border:solid transparent 10px;
	border-right:solid #7ed008 20px; 
}
.total p {margin-bottom:5px;}
.total strong {font-size:24px;}
.qwe {
	width:25px;
	height:25px;
	display:inline-block;
	background:#e0e0e0;
	font-size:13px !important;
	font-weight:400 !important;
	line-height:25px;
	color:#000;
	text-align:center;
	text-decoration:none !important;
	vertical-align:middle;
}
.total .qwe {background:#fff;}

time {
	font-size:11px;
	color:#c0c0c0;
}
.notice li {
	position:relative;
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:solid #E0E0E0 1px;
}
.block .notice li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border:none;
}
.notice h6 {margin:0 0 5px 0;}
.notice p {
	font-size:12px;
	line-height:120%;
}

.row.autor-block {
	margin-bottom:35px;
	font-size:14px;
}
.row.autor-block h4 {margin-bottom:5px;}
.autor-block p {margin-left:20px;}
.row.autor-block .text-center p {margin:0 0 10px 0;}
.row.autor-block .black {font-size:13px;}
.row.autor-block p {margin-bottom:22px;}
.location:before,
.aphone:before,
.reviews:before,
.votes:before {
	width:13px;
	height:18px;
	background-position:-14px -79px;
}
.location:before,
.aphone:before {margin-right:17px;}
.aphone:before {
	width:14px;
	height:15px;
	margin-right:16px;
	background-position:0 -82px;
}
.aid:before {
	content:'ID';
	width:30px;
	height:auto;
	display:inline-block;
}
.reviews:before {
	width:28px;
	height:26px;
	background-position:-169px 0;
}
.votes:before {
	width:26px;
	height:26px;
	background-position:-169px -26px;
}
.reviews,
.votes {
	margin:0 !important;
	padding-top:15px;
	text-align:center;
}
.votes {float:left;}
.reviews {
	float:right;
	color:#CECECE;
}
.reviews small,
.votes small {
	display:block;
	font-size:12px;
	color:#838383;
}
.reviews a {color:#000;}
.indicators,
.rating-block {margin-bottom:45px;}
.indicators {
	padding:30px 20px;
	text-align:center;
}
.indicators span {
	width:70px;
	height:70px;
	display:inline-block;
	background:#7ed008;
	font-size:18px;
	font-weight:700;
	line-height:70px;
	color:#fff;
	text-align:center;
}
.rating-block .label {
	width:80px;
	position:absolute;
	top:-13px;
	left:50%;
	margin-left:-40px;
}
.bill {
	min-height:115px;
	margin-bottom:40px;
	padding:25px 30px;
}
.bill .price {
	font-weight:700;
	font-size:36px;
	line-height:100%;
}
.bill p {margin-bottom:5px;}
.bill .btn-sm {margin-top:10px;}
.sort {
	font-size:14px;
	line-height:46px;
	text-align:right;
}
.hdr,
.hdr1 {
	margin:0;
	padding:20px 0;
	border:none;
	font-size:14px;
}
.hdr1 {padding:0;white-space:nowrap;}
.hdr > div {padding-top:5px;padding-bottom:5px;}
.hdr1 > div {padding-top:5px;padding-bottom:5px;}
.bdy {
	border:solid #C4C4C4 1px;
	font-size:14px;
	-webkit-box-shadow:#ededed 0 0 4px inset;
	box-shadow:#ededed 0 0 4px inset;
}
.bdy .row {margin:0;}
.bdy .row > div {
	padding:20px 10px;
	border-right:solid #C4C4C4 1px;
}
.bdy .row > div:last-child {border-right:none !important;}
@media (max-width:992px) {
.bdy {
	border-bottom:none;
	font-size:12px;
}
.bdy .row > div:nth-child(3) {border-right:none !important;}
.bdy .row > div {border-bottom:solid #C4C4C4 1px;}
}
.ico1:before,
.ico2:before {
	width:7px;
	height:11px;
	margin:0 16px 0 4px;
}
.ico1:before {background-position:-91px -86px;}
.ico2:before {background-position:-98px -86px;}
.ico3:before {
	width:15px;
	height:13px;
	margin-right:12px;
	background-position:-91px -97px;
}
.payment {
	margin-bottom:45px;
	padding:25px;
}
.payment .price {
	padding:20px;
	background:#7ed008;
	color:#fff;
	text-align:center;
}
.payment .price p {
	margin-bottom:10px;
	font-size:14px;
}
.payment .price strong {font-size:30px;}
.payment .col-md-offset-1 {padding-top:10px;}
.payment-descr {
	padding-top:7px;
	padding-bottom:7px;
	font-size:12px;
	color:#777;
	text-align:right;
}
.prices {
	min-height:395px;
	padding:20px;
	padding-top:40px;
	text-align:center;
}
.prices strong {
	display:block;
	margin-bottom:5px;
	font-size:24px;
	line-height:100%;
	text-transform:uppercase;
}
.prices .price {
	min-height:85px;
	display:block;
	font-size:18px;
	font-weight:600;
}
.prices p {
	min-height:155px;
	font-size:14px;
}
.prices p big {
	font-size:72px;
	line-height:100%;
}
.author-info {
	position:relative;
	margin-bottom:55px;
	padding:30px;
	font-size:14px;
}
.author-info .label {
	position:absolute;
	top:-10px;
	left:30px;
}
.author-info p {margin-bottom:0;}
.author-info strong {
	display:block;
	font-size:24px;
	line-height:100%;
}
.author-info small {
	display:block;
	line-height:100%;
	color:#838383;
}
.ball strong {
	font-size:36px;
	color:#7ed008;
}
.ball .rating {margin:5px 0 15px 0;}
.achievements, .done {padding-bottom:20px;}
.achievements:before,
.done:before,
.underway:before,
.canceled1:before,
.canceled2:before {
	float:left;
	margin-bottom:20px;
}
.achievements:before {
	width:15px;
	height:22px;
	margin-right:17px;
	background-position:-197px 0;
}
.done:before {
	width:21px;
	height:21px;
	margin-right:11px;
	background-position:-195px -22px;
}
.underway:before {
	width:24px;
	height:21px;
	margin-right:11px;
	background-position:-197px -104px;
}
.canceled1:before {
	width:20px;
	height:26px;
	margin-right:12px;
	background-position:-195px -43px;
}
.canceled2:before {
	width:24px;
	height:22px;
	margin-right:11px;
	background-position:-197px -82px;
}
.chose {margin-bottom:20px;}
.chose > div:first-child {padding-right:0;}
.chose p {margin-bottom:0;}
.chose .rating {margin:0;}
.chose small {
	color:#777;
	white-space:nowrap;
}
.chose .gray {
	position:relative;
	top:20px;
}
.chose .glyphicon-remove {margin:0 !important;}
.filter {
	margin-bottom:35px;
	padding:25px;
	padding-bottom:10px;
}
.filter .row {margin-bottom:30px;}
.affiliate {
	min-height:225px;
	padding:40px 30px 20px 30px;
	font-size:18px;
	color:#444748;
}
.affiliate p {
	min-height:80px;
	font-size:14px;
}
.affiliate strong {
	display:block;
	margin:25px 0;
	font-size:36px;
}
.biggest {
	font-size:36px;
	line-height:120%;
}
.affiliate1 {
	margin-bottom:65px;
	padding:40px;
	font-size:14px;
}
.affiliate1 h4 {
	margin-bottom:25px;
	font-weight:700;
}
.affiliate1 .text-center {position:relative;}
.affiliate1 .text-center span {
	width:30px;
	height:30px;
	position:absolute;
	left:50%;
	top:-5px;
	margin-left:20px;
	background:#7ed008;
	border:solid #fff 5px;
	color:#fff;
}
.affiliate1 .text-center strong {
	display:block;
	margin-top:15px;
	font-size:30px;
	color:#76c10a;
}
.affiliate1 .btn {max-width:295px;}
@media (max-width:992px) {
.affiliate1 .col-md-4 {margin-bottom:40px;}
}
.track-header {
	font-size:30px;
	font-weight:700;
	color:#444748
}
.track {
	height:6px;
	margin:30px 0;
	background:#f5f5f5;
	border:solid #c4c4c4 1px;
}
.track .col-xs-10 {
	height:6px;
	margin-top:-1px;
	padding:0;
	background:#7ed008;
}
.track .col-xs-10 .row > div:before {
	width:25px;
	height:25px;
	display:block;
	margin-top:-9px;
	background:#7ed008;
	border:solid #fff 5px;
}
.stick {
	min-height:365px;
	padding-top:50px;
	text-align:center;
}
.stick .gicon {margin-bottom:20px;}
.stick h4 {font-weight:400;}
.stick p {min-height:90px;}
.order {background:url(../img/back2.jpg) top no-repeat;}
.bottom-block {
	padding-top:40px;
	background:url(../img/pattern3.png);
}
.bottom-block h3 {margin-bottom:50px;}
.nextto {
	position:relative;
	padding:0 50px;
}
.nextto:after {
	width:18px;
	height:35px;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-65px;
	background-position:-220px -64px;
}
.nextto:last-child:after {display:none;}
@media (max-width:768px) {
.nextto {margin-bottom:30px;}
.nextto:after {display:none !important;}
}
.register {
	margin:20px 0;
	font-size:18px;
}
.register a {color:#7ed008;}
.statistics {
	padding:25px 0 60px 0;
	color:#666;
	text-align:center;
}
.statistics strong {
	display:block;
	font-size:48px;
	font-weight:300;
	line-height:100%;
	color:#000;
}
#carousel .block {
	width:30%;
	position:absolute;
	top:15px;
	right:5%;
	padding:30px;
}
.blocks-promo {text-align:center;}
.blocks-promo > div {margin-bottom:30px;}
.blocks-promo .block {
	min-height:365px;
	position:relative;
	padding:35px;
	padding-bottom:30px;
	margin-bottom:10px;
}
.blocks-promo h3 {
	min-height:60px;
	font-weight:bold;
}
.blocks-promo h3 small {
	display:block;
	font-size:18px;
}
.blocks-promo .btn {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:19px 0;
	font-size:14px;
}
.required {
	line-height:57px;
	text-align:right;
}
.statuses {
	padding:20px 0;
	font-size:14px;
	text-align:right;
}
.statuses p {
	margin-bottom:10px;
	color:#8e8e8e;
}
.statuses .active {color:#000;}
.statuses span {
	width:27px;
	height:27px;
	display:inline-block;
	margin-left:15px;
	border:solid #dcdcdc 1px;
	font-size:13px;
	line-height:23px;
	text-align:center;
}
.statuses .active span {
	background:#7ed008;
	border-color:#7ed008;
	color:#fff;
}
/*=========================================================================*/
.btn,
.form-control,
.form-group .form-control,
.container .jumbotron,
.jumbotron,
.thumbnail,
.panel,
.panel-heading,
.panel-footer,
.dropdown-menu,
.nav-tabs li a,
.label,
.pagination,
.modal-content {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
}
.rdobx,
.rdobx:before,
.icon,
.gicon,
.icow,
.icop,
.icopl,
.iconp,
a[href="#prev"],
a[href="#next"],
.badge,
.avatar:before,
.carousel-indicators li,
#file:before,
#file1:after,
.period span,
.indicators span,
.char-md small,
.pagination > li > a[aria-label="Previous"],
.pagination > li > a[aria-label="Next"],
.label-circle,
.affiliate1 .text-center span,
.track .col-xs-10 .row > div:before,
.qwe,
.statuses span {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}
.gicon:before,
.icon:before,
.icony,
.iconp:before,
#nav .dashed:before,
.icow:before,
.icop:before,
.downloads:after,
.comments:after,
.downloads1:before,
.comments1:before,
.like:before,
.icopl:before,
a[href="#prev"]:before,
a[href="#next"]:before,
.pagination > li > a[aria-label="Previous"]:before,
.pagination > li > a[aria-label="Next"]:before,
.location:before,
.aphone:before,
.reviews:before,
.votes:before,
.ico1:before,
.ico2:before,
.ico3:before,
.label-s1:before,
.label-s2:before,
.label-s3:before,
.label-bs:before,
.glyphicon-pencil:before,
.glyphicon-calendar:before,
.glyphicon-search:before,
.glyphicon-hand-up:before,
.glyphicon-hand-down:before,
.glyphicon-hand-up:before,
.glyphicon-time:before,
.achievements:before,
.done:before,
.underway:before,
.canceled1:before,
.canceled2:before,
.track .col-xs-10 .row > div:before,
.cornb:after,
.nextto:after,
.total:after {content:'';}
.gicon:before,
.icon:before,
.icony,
.iconp:before,
#nav .dashed:before,
.icow:before,
.icop:before,
.social a,
.downloads:after,
.comments:after,
.downloads1:before,
.comments1:before,
.like:before,
.icopl:before,
a[href="#prev"]:before,
a[href="#next"]:before,
.pagination > li > a[aria-label="Previous"]:before,
.pagination > li > a[aria-label="Next"]:before,
.char-sm,
.char-md ,
.bell,
.location:before,
.aphone:before,
.reviews:before,
.votes:before,
.glyphicon-pencil,
.glyphicon-calendar,
.glyphicon-search,
.glyphicon-hand-down,
.glyphicon-hand-up,
.glyphicon-time,
.ico1:before,
.ico2:before,
.ico3:before,
.label-s1:before,
.label-s2:before,
.label-s3:before,
.label-bs:before,
.achievements:before,
.done:before,
.underway:before,
.canceled1:before,
.canceled2:before,
.cornb:after,
.nextto:after {
	display:inline-block;
	background-image:url(../img/sprite.png);
	vertical-align:middle;
}
.btn,
.nav-tabs a,
.pagination > li > a[aria-label="Previous"],
.pagination > li > a[aria-label="Next"] {
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  -o-transition:background 0.3s ease-in-out;
  transition:background 0.3s ease-in-out;
}
.btn-default1{
  -webkit-transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
}
#authors .row > div,
#latest .row > div,
#reviews img,
.social a,
a[href="#prev"],
a[href="#next"],
.modal-auth .close {
  -webkit-transition:opacity 0.3s ease-in-out;
  -moz-transition:opacity 0.3s ease-in-out;
  -o-transition:opacity 0.3s ease-in-out;
  transition:opacity 0.3s ease-in-out;
}
.opacity70,
.modal-auth .close {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity:0.7;
  opacity:0.7;
}
input[type="checkbox"]:disabled + .chkbx,
input[type="radio"]:disabled + .rdobx,
.opacity50,
.social a:hover,
a[href="#prev"],
a[href="#next"] {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  opacity:0.5;
}
.opacity45 {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=45);
  -moz-opacity:0.45;
  -khtml-opacity:0.45;
  opacity:0.45;
}
.opacity40,
.payments-checked label div,
.pagination .disabled {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity:0.4;
  opacity:0.4;
}
a[href="#prev"]:hover,
a[href="#next"]:hover,
.payments-checked label input:checked + div,
.modal-auth .close:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
@media (max-width:1200px) {
.opacity70,.opacity50 {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
}
@media (max-width:768px) {
.opacity40 {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
}

.vue-disable[disabled] {
	background-color: #e28128 !important;
}