<template>
    <div>
        <form  @submit.prevent="check">
            <div class="row">
                <input-text-component nameFieldParent="name" testField="1"></input-text-component>
                <input-text-component nameFieldParent="lastName" labelValue="2"></input-text-component>
                <input-text-component nameFieldParent="surName" labelValue="3"></input-text-component>
            </div>
            <div class="row">
                <input-date-component></input-date-component>
            </div>
            <div class="row">
                <text-area-component></text-area-component>
            </div>
            <div class="row">
                <button-component></button-component>
            </div>
        </form>
    </div>
</template>

<script>
    import InputTextComponent from './InputTextComponent.vue';
    import InputDatePickerComponent from './InputDatePickerComponent.vue';
    import TextAreaComponent from './TextAreaComponent.vue';
    import ButtonFormComponent from './ButtonFormComponent.vue';

    export default {
        props: ['testParent'],

        data: function () {
            return {
                test: this.testParent,
            }
        },
        created() {

        },
        components:{
            'input-text-component':InputTextComponent,
            'input-date-component':InputDatePickerComponent,
            'text-area-component':TextAreaComponent,
            'button-component':ButtonFormComponent
        },
        methods: {
            check(e){
                e.preventDefault();
                console.log(this.testParent);
            },
        },

    }
</script>