<template>
    <div class="form-horizontal col-xs-12 col-md-11">
        <div class="form-group">
            <label class="control-label col-xs-3 col-sm-6 col-md-3 col-lg-2">Дата
                рождения</label>
            <div class="col-xs-9 col-sm-6 col-md-5 col-lg-3">
                <input type="date" value="12.12.2016" class="form-control">
                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted date input.')
        }
    }
</script>
